// settings

$main-color: #9356DC;
$second-color:#FF79DA;
$third-color : #99E2D0;
$bg-main-color: #F6F6F6;
$font-family-text : "Roboto", sans-serif;
$font-family-logo : "Shrikhand", sans-serif;

// mixin

@mixin weight-size-txt {
    font-weight: 500;
    font-size: 1rem;
}

// imports
@import './_layout/header';
@import './_layout/footer';
@import './_components/buttons';

// general

* {
    margin: 0;
    padding: 0;
    font-family: $font-family-text;   
}

a {
    text-decoration:none;
    color: inherit;    
}

li {
    list-style-type: none;
}

h1,h2 {
    font-size: 1.5rem ;    
}

h2 {
    padding-bottom: 1rem ;
    
}

h3 {
    font-size: 1.1rem;
    }

p {
    font-weight: 300;
}



// heroheader
    //  location

    .heroheader_location {        
        padding: 1rem;
        background-color: #EAEAEA;
        display: flex;
        justify-content: center;
                             
        i {
            margin-right: 0.7rem;
        }

        &-txt {
            @include weight-size-txt;
        }
    }

// heroheader presentation

    .heroheader_content {
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 1rem;      
        padding: 2rem 0;
        background-color: $bg-main-color;        
        text-align: center;
    }

        .heroheader_subtitle {
            font-size: 1.12rem;
        }   
          

main section {
    max-width: 90%;
    margin: 0 auto;
    padding: 3rem 0 ;

    @media screen and (min-width:1440px) {
        max-width:1080px;
    }
}

// section fonctionnement

.fonctionnement {
     

&_step_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

   }
}
 
.stepcard { 
    position : relative;
    padding: 1.5rem 2rem;
    display:flex;
    background: $bg-main-color ;
    border-radius: 1rem;
     gap:1rem;
     
             
       &_number {
        position: absolute;
        left : 0%;
        transform: translate(-50%);
        font-size: 0.9rem;
        display:flex;
        justify-content:center;
        align-items: center;       
        
        color: white;
        background:$main-color;
        width: 1.5rem;
        height: 1.5rem;
         border-radius : 2rem;
       }
          
      &_icon {
        color:#7E7E7E;

         &--purple {
          color: $main-color;
        }
      }

       &_title {
       @include weight-size-txt;
       }
   }
// section restaurants

.background_section {
    background-color: $bg-main-color;
}

.restaurant {



&_container {

display: flex;
flex-direction: column;
gap: 1.5rem;


@media screen and (min-width:768px) {
    
    flex-flow: row wrap;
    justify-content: space-between;  
    gap: 3rem; 
    
}

 a {
    @media screen and (min-width:768px) {
        width: 45%;
    }
        }
}

}

.restaurant_card {
    position: relative;
    background-color: white;
    border-radius: 1rem;

   
     img {
        width: 100%;
        height: 175px;
        object-fit: cover;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

.badge_new {
    position: absolute;
    right: 15px;
    top: 15px;
    background: $third-color;
    color: #008766;
    padding: 0.3rem 0.6rem;
    border-radius:0.1rem ;
    font-size: 0.9rem;
}

&-txt {
    padding: 0.5rem 0 1rem 0.5rem;
}

&_subtitle {
    font-size: 1.06rem;
}
 
&_content {
position: relative;


.empty_like {
    font-size: 1.5rem;
    position: absolute;
    top: 15px;
    right: 20px;
}
}
}
