// settings

$main-color: #9356DC;
$second-color: #FF79DA;
$third-color : #99E2D0;
$bg-main-color: #F6F6F6;
$font-family-text : "Roboto",
sans-serif;
$font-family-logo : "Shrikhand",
sans-serif;

// mixin

@mixin weight-size-txt {
    font-weight: 500;
    font-size: 1rem;
}

@mixin link-no-deco {
    text-decoration: none;
    color: inherit;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin center-container {
    max-width: 90%;
    margin: 0 auto;
}

// imports

@import './_pages/index';
@import './_pages/menu';
@import './_layout/header';
@import './_layout/footer';
@import './_components/buttons';
@import './_components/likebutton';

// general

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-text;
}

h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

h3 {
    font-size: 1.1rem;
}

p {
    font-weight: 300;
}