.main-menu {
    margin-bottom: -60px;
}

// restaurant image

.restau_banner img {
    width: 100%;
    height: 275px;
    object-fit: cover;

    @media screen and (min-width:1024px) {
        height: 383px;
    }
}

// section restau

.restau {
    position: relative;
    top: -60px;
    padding: 2rem 0;
    background-color: $bg-main-color;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;

    @media screen and (min-width:1024px) {
        max-width: 1080px;
        margin: 0 auto;
    }

    &_txt {
        display: flex;
        gap: 2rem;
        margin-left: 5%;

        @media screen and (min-width:768px) {
            margin-left: 0;
            justify-content: center;

        }

        &-title {
            font-family: $font-family-logo;
            font-weight: 400;
            font-size: 1.5rem;
        }

        .like {
            top: 7px;
        }
    }
}


.menu {
    @include center-container;

    @media screen and (min-width:768px) {
        max-width: 65%;

    }
}

// container entrée plat dessert
.menu_container {
    margin: 2rem 0;
    animation: menu 1200ms ease-in-out;

    @for $i from 1 through 3 {
        &--#{$i} {
            animation-delay: 150ms * $i;
        }
    }

    .menu_title {
        font-size: 1rem;
        font-weight: 300;
        text-transform: uppercase;
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            background: $third-color;
            height: 3px;
            width: 40px;
            bottom: 10px;
        }
    }
}

// Keyframe slide menu , arrive de la droite en décalé suivant la catégorie de plat 

@keyframes menu {
    0% {
        transform: translateX(700px);
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translateX(0);
    }
}


// carte des plats
.menu_card {
    background-color: white;
    box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: 1rem;
    margin-bottom: 0.7rem;
    overflow: hidden;

    &_txt {
        padding: 0.8rem;
        overflow: hidden;
        flex: 1;
    }

    &_title {
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &_subtitle {
        font-size: 0.9rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.5rem;
    }


    &:hover .check_animation {
        width: 60px;
        transform: translateX(1);
    }
}

.menu_card_price {
    display: flex;

    .price {
        padding-bottom: 0.8rem;
        font-weight: 700;
        display: flex;
        align-items: flex-end;
        padding-right: 1rem;
    }

    // La barre check est poussé de la droite vers la gauche lorsqu'on fait un hover sur l'article en passant de 0px à 60px.

    .check_animation {
        width: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        background-color: $third-color;
        transform: translateX(0);
        transform-origin: right;
        transition: all 300ms ease-out;
    }
}

.menu.btn {
    width: 186px;
    text-align: center;
    margin: 0 auto;
}