@charset "UTF-8";
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(2px);
  animation: back 1400ms both ease-in-out;
  animation-delay: 3150ms;
  z-index: -99;
}
.loader img {
  width: 35%;
}

/*Conteneur de la barre de progression */
.progress {
  border: 1px solid black;
  width: 300px;
  border-radius: 2rem;
  overflow: hidden;
  height: 30px;
  /* barre de progression se lance à 0.15s et dure 3secondes */
}
.progress_bar {
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #9356DC, #FF79DA);
  transform-origin: left;
  animation: load 3000ms both ease-in-out;
  animation-delay: 150ms;
}

/* Keyframes */
@keyframes back {
  0% {
    opacity: 1;
    z-index: 100;
  }
  99% {
    opacity: 0;
    z-index: 100;
    /* Maintenir le z-index jusqu'à la fin de l'animation */
  }
  100% {
    opacity: 0;
    z-index: -99;
  }
}
@keyframes load {
  0% {
    transform: scaleX(0);
    z-index: 3;
  }
  100% {
    transform: scaleX(1);
  }
}
.heroheader_location {
  padding: 1rem;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
}
.heroheader_location i {
  margin-right: 0.7rem;
}
.heroheader_location-txt {
  font-weight: 500;
  font-size: 1rem;
}

.heroheader_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
  background-color: #F6F6F6;
  text-align: center;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .heroheader_content {
    box-shadow: none;
    gap: 1.5rem;
  }
}

.heroheader_title {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .heroheader_title {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1440px) {
  .heroheader_title {
    font-size: 2.5rem;
  }
}

.heroheader_subtitle {
  font-size: 1.12rem;
}

.fonctionnement {
  max-width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}
@media screen and (min-width: 1440px) {
  .fonctionnement {
    max-width: 1080px;
  }
}
.fonctionnement_step_container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .fonctionnement_step_container {
    flex-direction: row;
    gap: 2rem;
  }
}

.stepcard {
  position: relative;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  background: #F6F6F6;
  border-radius: 1.2rem;
  gap: 1rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1024px) {
  .stepcard {
    width: 33%;
  }
}
.stepcard_number {
  position: absolute;
  left: 0%;
  transform: translate(-50%);
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #9356DC;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 2rem;
}
.stepcard_icon {
  color: #7E7E7E;
  font-size: 1.1rem;
}
.stepcard_icon--purple {
  color: #9356DC;
  font-size: 1.1rem;
}
.stepcard_title {
  font-weight: 500;
  font-size: 1rem;
}

.background_section {
  background-color: #F6F6F6;
}

.restaurant {
  max-width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}
@media screen and (min-width: 1440px) {
  .restaurant {
    max-width: 1080px;
  }
}
.restaurant_container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  .restaurant_container {
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 3rem;
  }
}
.restaurant_container a {
  text-decoration: none;
  color: inherit;
}
@media screen and (min-width: 768px) {
  .restaurant_container a {
    width: 45%;
  }
}

.restaurant_card {
  position: relative;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.restaurant_card_img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.restaurant_card .badge_new {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #99E2D0;
  color: #008766;
  padding: 0.3rem 0.6rem;
  border-radius: 0.1rem;
  font-size: 0.9rem;
}
.restaurant_card_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant_card-txt {
  padding: 0.5rem 0 1rem 1rem;
}
.restaurant_card_subtitle {
  font-size: 1.06rem;
}
.restaurant_card .like {
  right: 50px;
  bottom: 17px;
}

.main-menu {
  margin-bottom: -60px;
}

.restau_banner img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.restau {
  position: relative;
  top: -60px;
  padding: 2rem 0;
  background-color: #F6F6F6;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}
@media screen and (min-width: 1024px) {
  .restau {
    max-width: 1080px;
    margin: 0 auto;
  }
}
.restau_txt {
  display: flex;
  gap: 2rem;
  margin-left: 5%;
}
@media screen and (min-width: 768px) {
  .restau_txt {
    margin-left: 0;
    justify-content: center;
  }
}
.restau_txt-title {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}
.restau_txt .like {
  top: 7px;
}

.menu {
  max-width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .menu {
    max-width: 65%;
  }
}

.menu_container {
  margin: 2rem 0;
}
.menu_container .menu_title {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
}
.menu_container .menu_title::after {
  content: "";
  display: block;
  position: absolute;
  background: #99E2D0;
  height: 3px;
  width: 40px;
  bottom: 10px;
}

.menu_card {
  background-color: white;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  border-radius: 1rem;
  margin-bottom: 0.7rem;
}
.menu_card_txt {
  padding: 0.8rem;
  overflow: hidden;
  flex: 1;
}
.menu_card_title {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu_card_subtitle {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu_card:hover .check_animation {
  width: 60px;
  transform: translateX(1);
}

.menu_card_price {
  display: flex;
}
.menu_card_price .price {
  padding-bottom: 0.8rem;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  padding-right: 1rem;
}
.menu_card_price .check_animation {
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #99E2D0;
  transform: translateX(0);
  transform-origin: right;
  transition: all 300ms ease-out;
  overflow: hidden;
}

.menu.btn {
  width: 186px;
  text-align: center;
  margin: 0 auto;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header a {
  text-decoration: none;
  color: inherit;
  position: absolute;
  top: 35%;
  left: 25px;
}
.header_icon {
  font-size: 1.2rem;
}
.header_logo {
  margin: 1rem 0;
  width: 10rem;
}
@media screen and (min-width: 768px) {
  .header_logo {
    margin: 1.5rem 0;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  padding: 1.5rem;
  gap: 1rem;
}
@media screen and (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 5rem;
    padding: 4rem 4rem 1.5rem 0;
  }
}
.footer_title {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}
.footer_nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
}
@media screen and (min-width: 1024px) {
  .footer_nav {
    flex-direction: row;
  }
}

.nav_item, .nav_item--thin {
  font-weight: 500;
  font-size: 1rem;
}
@media screen and (min-width: 1024px) {
  .nav_item:nth-child(2), .nav_item--thin:nth-child(2) {
    margin-right: 1.5rem;
  }
}
.nav_item--thin {
  font-weight: 400;
}
.nav_item a, .nav_item--thin a {
  text-decoration: none;
  color: inherit;
}
.nav_item i, .nav_item--thin i {
  width: 0.68rem;
  margin-right: 0.9rem;
}

.btn {
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
  display: block;
  position: relative;
  padding: 1rem 1.5rem;
  margin: 1rem;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 1.5rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  z-index: 1;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#ff93e1, #a16be0);
  opacity: 0;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
  z-index: -1;
  border-radius: 1.5rem;
  transition: opacity 250ms linear;
}

.like {
  position: relative;
}
.like_empty, .like_full {
  font-size: 1.4rem;
  position: absolute;
  transition: opacity 250ms cubic-bezier(0.14, -0.09, 0.87, 0.4);
}
.like_empty {
  background: inherit;
  opacity: 1;
  z-index: 1;
}
.like_empty:hover {
  opacity: 0;
}
.like_empty:hover:hover + .like_full {
  opacity: 1;
}
.like_full {
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

h3 {
  font-size: 1.1rem;
}

p {
  font-weight: 300;
}