// Le after est considéré comme un deuxième bouton qui se superpose sous celui de base, il est derrière mais deviens visible quand on fait un hover sur le bouton

.btn {
  @include weight-size-txt;
  @include link-no-deco;
  display: block;
  position: relative;
  padding: 1rem 1.5rem;
  margin: 1rem;
  color: white;
  background: linear-gradient($second-color, $main-color);
  border-radius: 1.5rem;
  box-shadow: 0px 4px 10px 0px #00000040;
  z-index: 1;

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(lighten($second-color, 5%),
        lighten($main-color, 5%));
    opacity: 0;
    box-shadow: 0px 4px 15px 0px #00000059;
    z-index: -1;
    border-radius: 1.5rem;
    transition: opacity 250ms linear;
  }
}