// Le coeur plein est placé en dessous du coeur vide mais n'est pas visible par défault , il apparait au hover du coeur vide. Le coeur vide visible par default devient invisible 

.like {
    position: relative;

    &_empty,
    &_full {
        width: 24px;
        text-align: center;
        font-size: 1.4rem;
        position: absolute;
        transition: opacity 250ms cubic-bezier(0.14, -0.09, 0.87, 0.4);
    }

    &_empty {
        background: inherit;
        opacity: 1;
        z-index: 1;

        &:hover {
            opacity: 0;

            &:hover+.like_full {
                opacity: 1;
            }
        }
    }

    &_full {
        background: linear-gradient($main-color, $second-color);
        background-clip: text;
        color: transparent;
        opacity: 0;
    }
}